{% extends 'base.html.twig' %}

{% block main %}
<main id="main">
    <section class="bg-light mb-5 mt-5">
        <div class="container pb-5 pt-5">
            <div class="row pb-5 pt-5">
                <div class="col-md-10 mx-auto">
                    <h1 class="font-weight-bold display-4 mt-2 ml-3 mb-5">Create your account.</h1>

                    {{ form(form, {attr: {'novalidate': ''}}) }}

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}